@{
	ViewBag.Title = "Kullanıcı Yönetimi";
	Layout = "~/Areas/Admin/Views/_Shared/_MainLayout.cshtml";
}

<div class="breadcrumbs">
	<h4>Kullanıcı Yönetimi</h4>
	<ul>
		<li><a asp-route="AdminHome">Anasayfa</a></li>
		<li>
			<i class="cdi cdi-arrow-right-alt2"></i>
		</li>
		<li>Kullanıcı Yönetimi</li>
	</ul>
</div>

<div class="wrapper">
	<div class="grid">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<div class="search">
						<div class="search-icon">
							<i class="cdi cdi-search"></i>
						</div>
						<div class="search-box">
							<input type="text" placeholder="Ara.." id="filter-box" />
						</div>
					</div>
					<div class="dropdown">
						<a href="javascript:void(0)" data-dropdown="#card-menu">
							<i class="cdi cdi-menu"></i>
						</a>
						<div class="drop-down" id="card-menu">
							<ul>
								<li><a asp-route="UserInsert"><i class="cdi cdi-plus-alt2"></i>&nbsp;&nbsp;Kullanıcı Ekle</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-body pd">

					<!--Kullanıcı listesi-->

					<table class="border-btm" id="table-user">
						<thead>
							<tr>
								<th>#</th>
								<th>Adı</th>
								<th>Soyadı</th>
								<th>Nickname</th>
								<th>Mail Adresi</th>
								<th>Rolü</th>
								<th>Eklenme</th>
								<th>Son Giriş</th>
								<th class="text-center">Durum</th>
								<th class="text-center">İşlem</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>

					<!--Kullanıcı listesi-->

				</div>
			</div>
		</div>
	</div>
</div>
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		//Kategori listesi için data table ayarlanması.
		var dtUser = new DataTable('#table-user', {
			method: 'GET',
			url: 'https://localhost:44307/Admin/Users/GetList',
			fixColumn: true,
			dataPerPage: 15,
			columns: [
				{
					'targets': 'AI',
					'order': false,
				},
				{
					'targets': 1,
					'order': true,
				},
				{
					'targets': 2,
					'order': true,
				},
				{
					'targets': 3,
					'order': true,
				},
				{
					'targets': 4,
					'order': true,
				},
				{
					'targets': 5,
					'order': true,
				},
				{
					'targets': 6,
					'order': true,
					'dateFormat': 'd MM yyyy H:i'
				},
				{
					'targets': 7,
					'order': true,
					'dateFormat': 'd MM yyyy H:i'
				},
				{
					'bind': 8,
					'order': false,
					'aling': 'center',
					'render': function (data) {
						return data == 1 ? '<span class="status-success">Aktif</span>' : '<span class="status-danger">Pasif</span>';
					}
				},
				{
					'bind': 0,
					'order': false,
					'aling': 'center',
					'render': function (data) {
						return '<div class="dropdown item-options"><a href="javascript:void(0)" data-dropdown="#cdi' + data.split('-')[0] + '">' +
							'<i class="cdi cdi-ellipsis"></i>' +
							'</a>' +
							'<div class="drop-down" id="cdi' + data.split('-')[0] + '">' +
							'<ul>' +
							'<li><a href="javascript:void(0)" data-action="statusChange" data-id="' + data + '"><i class="cdi cdi-remove"></i>&nbsp;&nbsp;Aktif/Pasif</a></li>' +
							'<li><a href="javascript:void(0)" data-action="edit" data-id="' + data + '"><i class="cdi cdi-edit"></i>&nbsp;&nbsp;Güncelle</a></li>' +
							'<li class="seperator"></li>' +
							'<li><a href="javascript:void(0)" data-action="delete" data-id="' + data + '"><i class="cdi cdi-trash"></i>&nbsp;&nbsp;Sil</a></li>' +
							'</ul>' +
							'</div></div>';
					}
				}
			],
			order: [2, 1],
			onRendered: function () {
				DropDown.init('.item-options');

				//Kullanıcı status değiştirme işlemi.
				var statusLinks = document.querySelectorAll('a[data-action="statusChange"]');
				statusLinks.forEach(element => {
					element.addEventListener('click', function (e) {
						e.stopPropagation();
						var target = e.currentTarget;
						var id = target.dataset.id;
						var statusTd = Util.findAll('td', target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode)[5];

						Ajax.send({
							method: 'POST',
							url: Util.urlHelper('Admin/Users/StatusChange'),
							data: { "id": id }
						}).then(responseData => {
							statusTd.innerHTML = statusTd.innerHTML == '<span class="status-danger">Pasif</span>' ? '<span class="status-success">Aktif</span>' : '<span class="status-danger">Pasif</span>';
							Dailog.init({
								icon: responseData.success ? 'success' : 'danger',
								title: responseData.success ? 'İşlem başarılı..' : 'İşlem başarısız!',
								message: responseData.message,
								buttonType: 'ok'
							});
						}).catch(error => {
							Dailog.init({
								icon: 'danger',
								title: 'İşlem başarısız!',
								message: 'İşlem sırasında bir hata oluştu.. Daha sonra tekrar deneyiniz.',
								buttonType: 'ok'
							});
						});
					});
				});
			},
			filter: {
				element: '#filter-box'
			}
		});
	});
</script>