@model Blog.Application.Dto.UserDto.UserUpdateDto
@{
    ViewBag.Title = "Kullanıcı Yönetimi";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="breadcrumbs">
    <h4>Kullanıcı Düzenle</h4>
    <ul>
        <li><a asp-route="AdminHome">Anasayfa</a></li>
        <li>
            <span class="svg-icon svg-icon-primary">
                <!--begin::Svg Icon-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999) " />
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
        </li>
        <li><a asp-route="AdminUsers">Kullanıcı Yönetimi</a></li>
        <li>
            <span class="svg-icon svg-icon-primary">
                <!--begin::Svg Icon-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999) " />
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
        </li>
        <li>Kullanıcı Düzenle</li>
    </ul>
</div>

<div class="wrapper">
    <div class="grid">
        <div class="col-12">
            <form asp-route="UserUpdate" asp-antiforgery="true" method="post" id="user-update-from">
                <input type="hidden" asp-for="Id" />
                <div class="card">
                    <div class="card-header">
                        <h4>Kullanıcı Bilgileri</h4>
                        <input type="submit" class="btn btn-blue" value="Kullanıcı Düzenle" />
                    </div>
                    <div class="card-body pd">

                        <!--Kullanıcı ekleme-->
                        <div class="grid">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Adı</label>
                                    <input type="text" asp-for="Name" class="input" />
                                    <span class="vld-Name"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Soyadı</label>
                                    <input type="text" asp-for="LastName" class="input" />
                                    <span class="vld-LastName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Email Adresi</label>
                                    <input type="text" asp-for="Email" class="input" />
                                    <span class="vld-Email"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Takma İsim (Nickname)</label>
                                    <input type="text" asp-for="NickName" class="input" />
                                    <span class="vld-NickName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Şifre</label>
                                    <input type="text" asp-for="Password" class="input" />
                                    <span class="vld-Password"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Şifre Onay</label>
                                    <input type="text" asp-for="ConfirmPassword" class="input" />
                                    <span class="vld-ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Rolü</label>
                                    @await Component.InvokeAsync("RoleList", Model.RoleId)
                                    <span class="vld-RoleId"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Slug</label>
                                    <input type="text" asp-for="Slug" class="input" />
                                    <small><i>Boş bırakırsanız otomatik oluşturulacak.</i></small>
                                    <span class="vld-Slug"></span>
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Kullanıcı Durumu</label>
                                    <select asp-for="Status">
                                        <option value="1" selected>Aktif Kullanıcı</option>
                                        <option value="0">Pasif Kullanıcı</option>
                                    </select>
                                    <span class="vld-Status"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="label">Bildirim</label>
                                    <label class="label">
                                        <input type="checkbox" asp-for="SendMail" />&nbsp;&nbsp;&nbsp;Kullanıcı bilgileri e-posta ile gönderilsin.
                                    </label>
                                
                                </div>
                            </div>
                        </div>
                        <!--Kullanıcı ekleme-->

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {

		FormValidation.init({
			formSelector: '#user-update-from',
			sendAjax: true,
			inputs: [
				{
                    name: 'Name',
					rules: [
						{ rule: 'required', message: 'İsim alanı zorunludur.' }
					],
				},
				{
                    name: 'LastName',
					rules: [
						{ rule: 'required', message: 'Soyad alanı zorunludur.' }
					],
				},
				{
					name: 'Email',
					rules: [
						{ rule: 'required', message: 'Email alanı zorunludur.' },
                        { rule: 'valid-email', message: 'Geçerli bir email adresi giriniz.' }
					],
				},
				{
                    name: 'NickName',
					rules: [
						{ rule: 'required', message: 'Takma isim alanı zorunludur.' }
					],
				},
                {
                    name: 'RoleId',
                    rules: [
                        { rule: 'required', message: 'Kullanıcı için rol seçmelisiniz.' }
                    ],
                }
			]
		});
	});
</script>