<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="~/images/logo.png">

    <link href="~/style/framework/framework.min.css" rel="stylesheet" />
	<link href="~/style/login.css" rel="stylesheet" />

	<title>.:Yönetim Paneli Giriş:.</title>
</head>
<body>
    @RenderBody()

    <footer>&copy; Copyright 2002-2022 Çağlar ÖZCAN. Tüm Hakları Saklıdır.</footer>
</body>
</html>