@model Blog.Application.Dto.CategoryDto.CategorySelectDto

<select asp-for="ParentId" asp-items="@(new SelectList(Model.Options, "Value", "Text"))">
    <option value="">Üst kategori yok.</option>
</select>