<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="~/images/logo.png">
	<link href="~/style/framework/framework.min.css" rel="stylesheet" />
	<link href="~/style/site.min.css" rel="stylesheet" />
	<!--Icon Css-->
	<link href="~/third-party/duotoneicons/css/all.css" rel="stylesheet" />
	<link href="~/third-party/duotoneicons/css/regular.css" rel="stylesheet" />
	<link href="~/third-party/duotoneicons/css/solid.css" rel="stylesheet" />
	<!--Icon Css-->
	<script src="~/script/frameworkjs/framework.js"></script>
	<script src="~/script/third-party/data-table.js"></script>
	<title>@ViewBag.Title</title>
</head>
<body>

	<script>
		window.addEventListener("DOMContentLoaded", (event) => {

			var defaultThemeMode = "light";
			var themeMode;
			const themeIcon = document.getElementById('theme-icon');

			if (document.documentElement) {
				if (document.documentElement.hasAttribute("data-theme-mode")) {
					themeMode = document.documentElement.getAttribute("data-theme-mode");
				} else {
					if (localStorage.getItem("data-theme") !== null) {
						themeMode = localStorage.getItem("data-theme");
					} else {
						themeMode = defaultThemeMode;
						localStorage.setItem("data-theme", themeMode);
					}
				}

				if (themeMode == 'light') {
					themeIcon.classList.remove('fa-moon-stars');
					themeIcon.classList.add('fa-sun');
				} else {
					themeIcon.classList.remove('fa-sun');
					themeIcon.classList.add('fa-moon-stars');
				}

				if (themeMode === "system") {
					themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
				}

				document.documentElement.setAttribute("data-theme", themeMode);
				document.documentElement.setAttribute("data-theme-mode", themeMode);
			}

			const lightBtn = document.getElementById('switchlight');
			lightBtn.addEventListener('click', (e) => {
				localStorage.setItem("data-theme", 'light');
				themeIcon.classList.remove('fa-moon-stars');
				themeIcon.classList.add('fa-sun');
				document.documentElement.setAttribute("data-theme", 'light');
				document.documentElement.setAttribute("data-theme-mode", 'light');
			});

			const darkBtn = document.getElementById('switchdark');
			darkBtn.addEventListener('click', (e) => {
				localStorage.setItem("data-theme", 'dark');
				themeIcon.classList.remove('fa-sun');
				themeIcon.classList.add('fa-moon-stars');
				document.documentElement.setAttribute("data-theme", 'dark');
				document.documentElement.setAttribute("data-theme-mode", 'dark');
			});
		});
	</script>

	<header>
		<div class="header-content">
			<div class="logo">
				<img src="~/images/logo.png" />
			</div>
			<div class="system-content">
				<div class="system-menu">
					<div class="dropdown">
						<a href="javascript:void(0)" data-dropdown="#theme-menu">
							<i class="fa-duotone fa-sun fa-fw fc-blue sys-menu-icon" id="theme-icon"></i>
						</a>
						<div class="drop-down" id="theme-menu">
							<ul>
								<li>
									<a href="javascript:void(0)" id="switchlight">
										<i class="fa-duotone fa-sun fa-fw fc-blue"></i> Açık
									</a>
								</li>
							</ul>
							<ul>
								<li>
									<a href="javascript:void(0)" id="switchdark">
										<i class="fa-duotone fa-moon-stars fa-fw fc-blue"></i> Koyu
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="system-menu">
					<div class="dropdown">
						<a href="javascript:void(0)" data-dropdown="#theme-menu">
							<i class="fa-duotone fa-bars fa-fw fc-blue sys-menu-icon"></i>
						</a>
						<div class="drop-down" id="theme-menu">
							<ul>
								<li>
									<a href="javascript:void(0)">
										<i class="fa-duotone fa-user fa-fw fc-blue"></i> Profil
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<nav>
		<ul>
			<li is-active="yonetim/panel">
				<a asp-route="AdminHome">
					<i class="fa-duotone fa-house fa-fw"></i>
					<span>Anasayfa</span>
				</a>
			</li>
			<li is-active="yonetim/makale,yonetim/makale-ekle,yonetim/seri-makaleler">
				<a asp-route="AdminArticle">
					<i class="fa-duotone fa-pencil-mechanical fa-fw"></i>
					<span>Makale</span>
				</a>
			</li>
			<li is-active="yonetim/kullanici,yonetim/kullanici-ekle">
				<a asp-route="AdminUsers">
					<i class="fa-duotone fa-users fa-fw"></i>
					<span>Kullanıcı</span>
				</a>
			</li>
			<li is-active="yonetim/kategori">
				<a asp-route="AdminCategories">
					<i class="fa-duotone fa-sitemap fa-fw"></i>
					<span>Kategori</span>
				</a>
			</li>
			<li is-active="yonetim/etiket">
				<a asp-route="AdminTags">
					<i class="fa-duotone fa-tags fa-fw"></i>
					<span>Etiket</span>
				</a>
			</li>
			<li is-active="yonetim/medya,yonetim/dosya-yukle,yonetim/dosya-turleri">
				<a asp-route="AdminMedias">
					<i class="fa-duotone fa-film fa-fw"></i>
					<span>Medya</span>
				</a>
			</li>
			<li is-active="yonetim/yorum">
				<a asp-route="AdminComments">
					<i class="fa-duotone fa-comments fa-fw"></i>
					<span>Yorum</span>
				</a>
			</li>
			<li is-active="yonetim/aboneler">
				<a asp-route="AdminSubscribers">
					<i class="fa-duotone fa-rss fa-fw"></i>
					<span>Aboneler</span>
				</a>
			</li>
			<li is-active="yonetim/ayarlar">
				<a asp-route="AdminSettings">
					<i class="fa-duotone fa-gears fa-fw"></i>
					<span>Ayarlar</span>
				</a>
			</li>
			<li>
				<a asp-route="AdminLogout">
					<i class="fa-duotone fa-power-off fa-fw"></i>
					<span>Çıkış</span>
				</a>
			</li>
		</ul>
	</nav>

	<main id="content">
		@RenderBody()
	</main>

	<footer>
		&copy; Copyright 2002 Çağlar ÖZCAN.
	</footer>
</body>
</html>
