@model IEnumerable<Blog.Application.Dto.RoleDto.RoleSelectDto>

<select name="RoleId" asp-items="@(new SelectList(Model, nameof(Blog.Application.Dto.RoleDto.RoleSelectDto.Id), nameof(Blog.Application.Dto.RoleDto.RoleSelectDto.Name)))">
    <option>Kullanıcı rolü seçiniz.</option>
</select>