@model Blog.Application.Dto.RoleDto.RoleSelectDto

<select asp-for="RoleId" asp-items="@(new SelectList(Model.Options, "Value", "Text"))">
    <option value="">Kullanıcı rolü seçiniz.</option>
</select>