@{
	ViewBag.Title = "Blog Dashboard";
	Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="wrapper">
	<div class="grid">
		<!--Card-->
		<div class="col-3">
			<div class="card">
				<div class="card-body pd">
					<dv class="card-flex">
						<div>
							<span class="card-title">Kullanıcı</span>
							<h3>256</h3>
							<p class="card-subtext">Sisteme ekli kullanıcı sayısı.</p>
						</div>
						<div class="card-icon">
							<i class="cdi cdi-groups"></i>
						</div>
					</dv>
				</div>
			</div>
		</div>
		<!--Card-->
		<!--Card-->
		<div class="col-3">
			<div class="card">
				<div class="card-body pd">
					<dv class="card-flex">
						<div>
							<span class="card-title">Makale</span>
							<h3>138</h3>
							<p class="card-subtext">Yayında makale sayısı.</p>
						</div>
						<div class="card-icon">
							<i class="cdi cdi-admin-post"></i>
						</div>
					</dv>
				</div>
			</div>
		</div>
		<!--Card-->
		<!--Card-->
		<div class="col-3">
			<div class="card">
				<div class="card-body pd">
					<dv class="card-flex">
						<div>
							<span class="card-title">Yorum</span>
							<h3>358</h3>
							<p class="card-subtext">Makale-yorum sayısı.</p>
						</div>
						<div class="card-icon">
							<i class="cdi cdi-admin-comments"></i>
						</div>
					</dv>
				</div>
			</div>
		</div>
		<!--Card-->
		<!--Card-->
		<div class="col-3">
			<div class="card">
				<div class="card-body pd">
					<dv class="card-flex">
						<div>
							<span class="card-title">Toplam İçerik</span>
							<h3>1658</h3>
							<p class="card-subtext">Web sitesi toplam içerik.</p>
						</div>
						<div class="card-icon">
							<i class="cdi cdi-paperclip"></i>
						</div>
					</dv>
				</div>
			</div>
		</div>
		<!--Card-->
	</div>




	<div class="grid">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4>Site İstatistikleri</h4>
				</div>
				<div class="card-body">
					Buraya bir şey gelecek
				</div>
			</div>
		</div>
	</div>


	<div class="grid">
		<div class="col-6">
			<div class="card">
				<div class="card-header">
					<h4>En son gelen yorumlar</h4>
				</div>
				<div class="card-body">
					<table class="border-btm">
						<thead>
							<tr>
								<th>Makale</th>
								<th>Tarih</th>
								<th class="text-center">İşlem</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-header">
					<h4>En son gelen yorumlar</h4>
				</div>
				<div class="card-body">
					<table class="border-btm">
						<thead>
							<tr>
								<th>Makale</th>
								<th>Tarih</th>
								<th class="text-center">İşlem</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
							<tr>
								<td>Buraya makale adı gelcek</td>
								<td>10 Ekim 2021 09:15</td>
								<td class="text-center">
									<a href="#">
										<i class="cdi cdi-yes"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>