@{
	ViewBag.Title = "Blog Dashboard";
	Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="wrapper">
	<div class="grid">
		@await Component.InvokeAsync("GeneralStatisticComponent")

		<div class="col-6">
			<div class="card">
				<div class="card-header pd-x">
					<h4>Kısa Yollar</h4>
				</div>
				<div class="card-body pd">
					<div class="widget-menu">

						<div class="widget-item">
							<a asp-route="AdminArticleInsert">
								<i class="fa-duotone fa-file-plus fa-fw fc-blue fs-30"></i>
								<br/>
								<span>Makale Ekle</span>	
							</a>
						</div>
						
						<div class="widget-item">
							<a asp-route="UserInsert">
								<i class="fa-duotone fa-user-plus fa-fw fc-blue fs-30"></i>
								<br/>
								<span>Kullanıcı Ekle</span>	
							</a>
						</div>
						
						<div class="widget-item">
							<a asp-route="MediaType">
								<i class="fa-duotone fa-file-signature fa-fw fc-blue fs-30"></i>
								<br/>
								<span>Dosya Türleri</span>	
							</a>
						</div>
						
						<div class="widget-item">
							<a asp-route="FileUpload">
								<i class="fa-duotone fa-upload fa-fw fc-blue fs-30"></i>
								<br/>
								<span>Dosya Yükle</span>	
							</a>
						</div>
						
						<div class="widget-item">
							<a asp-route="AdminArticleSeries">
								<i class="fa-duotone fa-books fa-fw fc-blue fs-30"></i>
								<br/>
								<span>Seri Makaleler</span>	
							</a>
						</div>



					</div>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="grid">
				<div class="col-12">
					<div class="card">
						<div class="card-header pd-x">
							<h4>Son Yorumlar</h4>
						</div>
						<div class="card-body pd">
							Yorum listesi
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="card">
						<div class="card-header pd-x">
							<h4>Son Yorumlar</h4>
						</div>
						<div class="card-body pd">
							Yorum listesi
						</div>
					</div>
				</div>
			</div>
		</div>
			
		
	</div>
</div>

