@{
	ViewBag.Title = "Medya Yükle";
	Layout = "~/Areas/Admin/Views/_Shared/_MainLayout.cshtml";
}

<div class="breadcrumbs">
	<h4>Medya Yükle</h4>
	<ul>
		<li><a asp-route="AdminHome">Anasayfa</a></li>
		<li>
			<i class="cdi cdi-arrow-right-alt2"></i>
		</li>
		<li><a asp-route="AdminMedias">Medya Yönetimi</a></li>
		<li>
			<i class="cdi cdi-arrow-right-alt2"></i>
		</li>
		<li>Medya Yükle</li>
	</ul>
</div>

<div class="wrapper">
	<div class="grid">
		<div class="col-12">
			<div class="card">
				<div class="card-body pd">

					<div class="file-upload">
						<span>Yüklemek istediğiniz dosyaları bu alana sürükleyiniz.</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>