@{
	ViewBag.Title = "Medya Yönetimi";
	Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="breadcrumbs">
	<h4>Medya Yönetimi</h4>
	<ul>
		<li><a asp-route="AdminHome">Anasayfa</a></li>
		<li>
			<i class="fa-duotone fa-angle-right fa-fw fc-blue"></i>
		</li>
		<li>Medya Yönetimi</li>
	</ul>
</div>

<div class="wrapper">
	<div class="grid">
		<div class="col-12">
			<div class="card">
				<div class="card-header pd-x">
					<h4>Yüklü İçerikler</h4>

					<div class="dropdown">
						<a href="javascript:void(0)" data-dropdown="#card-menu">
							<span class="svg-icon svg-icon-primary svg-icon-x">
								<!--begin::Svg Icon-->
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<rect x="0" y="0" width="24" height="24" />
										<rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
										<path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#000000" opacity="0.3" />
									</g>
								</svg><!--end::Svg Icon-->
							</span>
						</a>
						<div class="drop-down" id="card-menu">
							<ul>
								<li><a asp-route="FileUpload"><i class="cdi cdi-cloud-upload"></i>&nbsp;&nbsp;Medya Yükle</a></li>
								<li><a asp-route="MediaType"><i class="cdi cdi-admin-tools"></i>&nbsp;&nbsp;Medya Türleri</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-body pd" id="image-galley-content">
					<div class="gallery" data-columns="10" id="main-gallery"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		var gallery = new PhotoGallery({ selector: '#main-gallery', perData: 32 });

		const galleryContent = document.getElementById('image-galley-content');
		const mainGallery = document.getElementById('main-gallery');
		let idealColumnSize = galleryContent.clientWidth < 640 ? 135 : 150;

		window.addEventListener('resize', (e) => {
			let columnSize = Math.min(Math.round(galleryContent.clientWidth / idealColumnSize), 10) || 1;
			mainGallery.setAttribute('data-columns', columnSize);
		});
	});
</script>
