@{
	ViewBag.Title = "Etiket Yönetimi";
	Layout = "~/Areas/Admin/Views/_Shared/_MainLayout.cshtml";
}

<div class="breadcrumbs">
	<h4>Etiket Yönetimi</h4>
	<ul>
		<li><a asp-route="AdminHome">Anasayfa</a></li>
		<li>
			<i class="cdi cdi-arrow-right-alt2"></i>
		</li>
		<li>Etiket Yönetimi</li>
	</ul>
</div>

<div class="wrapper">
	<div class="grid">
		<div class="col-5">
			<div class="card" id="tag-insert-container">
				<div class="card-header">
					<h4>Etiket Ekle</h4>
				</div>
				<div class="card-body pd">
					<form asp-route="TagInsert" method="post" id="tag-insert-form">
						@Html.ValidationSummary(true)
						<div class="form-group">
							<label class="label">Etiket Adı</label>
							<input type="text" name="Title" class="input" />
							<span class="vld-Title"></span>
						</div>
						<div class="form-group">
							<label class="label">Url (Slug)</label>
							<input type="text" name="Slug" class="input" />
							<small><i>Boş bırakırsanız otomatik olarak oluşturulacaktır.</i></small>
						</div>
						<div class="form-group">
							<label class="label">Durumu</label>
							<select name="Status">
								<option value="1" selected>Aktif</option>
								<option value="0">Pasif</option>
							</select>
						</div>

						<div class="form-group">
							<input type="submit" class="btn btn-blue" value="Etiket Ekle" />
						</div>
					</form>
				</div>
			</div>
			<div class="card" id="tag-edit-container" style="display:none;">
				<div class="card-header">
					<h4>Etiket Güncelle</h4>
				</div>
				<div class="card-body pd">
					<form asp-route="TagEdit" method="post" id="tag-edit-form">
						@Html.ValidationSummary(true)
						<input type="hidden" name="Id" />

						<div class="form-group">
							<label class="label">Etiket Adı</label>
							<input type="text" name="Title" class="input" />
							<span class="vld-Title"></span>
						</div>
						<div class="form-group">
							<label class="label">Url (Slug)</label>
							<input type="text" name="Slug" class="input" />
							<small><i>Boş bırakırsanız otomatik olarak oluşturulacaktır.</i></small>
						</div>
						<div class="form-group">
							<label class="label">Durumu</label>
							<select name="Status">
								<option value="1" selected>Aktif</option>
								<option value="0">Pasif</option>
							</select>
						</div>

						<div class="form-group">
							<input type="submit" class="btn btn-blue" value="Etiket Güncelle" />
							<input type="reset" class="btn btn-default" value="İptal" id="edit-canel-btn" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-7">
			<div class="card">
				<div class="card-header">
					<h4>Etiketler</h4>
					<div class="search">
						<div class="search-icon">
							<i class="cdi cdi-search"></i>
						</div>
						<div class="search-box">
							<input type="text" placeholder="Ara.." id="filter-box" />
						</div>
					</div>
				</div>
				<div class="card-body pd">

					<!--Makale listesi-->

					<table class="border-btm" id="table-tags">
						<thead>
							<tr>
								<th>#</th>
								<th>Etiket Adı</th>
								<th>Slug</th>
								<th>Eklenme</th>
								<th class="text-center">İşlem</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<!--Makale listesi-->

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		//Kategori listesi için data table ayarlanması.
		var dtTag = new DataTable('#table-tags', {
			method: 'GET',
			url: 'https://localhost:44307/Admin/Tags/GetList',
			fixColumn: true,
			dataPerPage: 15,
			columns: [
				{
					'targets': 'AI',
					'order': false,
				},
				{
					'targets': 1,
					'order': true,
				},
				{
					'targets': 3,
					'order': true,
				},
				{
					'targets': 2,
					'order': true,
					'dateFormat': 'd MM yyyy H:i'
				},
				{
					'bind': 0,
					'order': false,
					'aling': 'center',
					'render': function (data) {
						return '<div class="dropdown"><a href="javascript:void(0)" data-dropdown="#cdi' + data.split('-')[0] + '">' +
							'<i class="cdi cdi-ellipsis"></i>' +
							'</a>' +
							'<div class="drop-down" id="cdi' + data.split('-')[0] + '">' +
							'<ul>' +
							'<li><a href="javascript:void(0)" data-action="edit" data-id="' + data + '"><i class="cdi cdi-edit"></i>&nbsp;&nbsp;Güncelle</a></li>' +
							'<li class="seperator"></li>' +
							'<li><a href="javascript:void(0)" data-action="delete" data-id="' + data + '"><i class="cdi cdi-trash"></i>&nbsp;&nbsp;Sil</a></li>' +
							'</ul>' +
							'</div></div>';
					}
				}
			],
			order: [2, 1],
			onRendered: function () {
				DropDown.init();

				//Etiket silme işlemi.
				var deleteLinks = document.querySelectorAll('a[data-action="delete"]');
				deleteLinks.forEach(element => {
					element.addEventListener('click', function (e) {
						e.stopPropagation();
						var target = e.currentTarget;
						var id = target.dataset.id;

						Dailog.init({
							icon: 'question',
							title: 'Silme işlemi onayla!',
							message: 'Etiket sistemden silinecek! İşleme devam etmek istediğinizden emin misiniz?',
							buttonType: 'yesNo',
							ajax: {
								url: Util.urlHelper('Admin/Tags/Delete'),
								method: 'POST',
								data: { "id": id }
							},
							ajaxAfter: function () {
								dtTag.renderBody();
							}
						});
					});
				});

				//Etiket düzenleme işlemi.
				var editLinks = document.querySelectorAll('a[data-action="edit"]');
				editLinks.forEach(element => {
					element.addEventListener('click', function (e) {
						//e.stopPropagation();
						var target = e.currentTarget;
						var id = target.dataset.id;
						var cancelBtn = document.getElementById('edit-canel-btn');

						Ajax.send({
							method: 'POST',
							url: Util.urlHelper('Admin/Tags/GetEditInfo'),
							data: { "id": id }
						}).then(responseData => {

							if (responseData.success) {
								var insertForm = document.getElementById('tag-insert-container');
								var editForm = document.getElementById('tag-edit-container');

								Util.find('input[name="Id"]', editForm).value = responseData.value.id;
								Util.find('input[name="Title"]', editForm).value = responseData.value.title;
								Util.find('input[name="Slug"]', editForm).value = responseData.value.slug;

								insertForm.style.display = 'none';
								editForm.style.display = 'block';

								cancelBtn.addEventListener('click', function () {
									editForm.style.display = 'none';
									insertForm.style.display = 'block';
								});
							} else {
								Dailog.init({
									icon: 'danger',
									title: 'İşlem başarısız!',
									message: responseData.message,
									buttonType: 'ok'
								});
							}
						}).catch(error => {
							Dailog.init({
								icon: 'danger',
								title: 'İşlem başarısız!',
								message: 'Düzenlenecek etiket bilgileri alınamadı. Daha sonra tekrar deneyiniz.',
								buttonType: 'ok'
							});
						});
					});
				});
			},
			filter: {
				element: '#filter-box'
			}
		});

		FormValidation.init({
			formSelector: '#tag-insert-form',
			sendAjax: true,
			ajaxAfter: function () {
				dtTag.renderBody();
			},
			inputs: [
				{
					name: 'Title',
					rules: [
						{ rule: 'required', message: 'Kategori ismi alanı zorunludur.' }
					],
				}
			]
		});

		FormValidation.init({
			formSelector: '#tag-edit-form',
			sendAjax: true,
			ajaxAfter: function () {
				dtTag.renderBody();
			},
			inputs: [
				{
					name: 'Title',
					rules: [
						{ rule: 'required', message: 'Kategori ismi alanı zorunludur.' }
					],
				}
			]
		});
	});
</script>