@{
	ViewBag.Title = "Makale Ekle";
	Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="breadcrumbs">
	<h4>Makale Ekle</h4>
	<ul>
		<li><a asp-route="AdminHome">Anasayfa</a></li>
		<li>
			<span class="svg-icon svg-icon-primary">
                <!--begin::Svg Icon-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999) " />
                    </g>
                </svg><!--end::Svg Icon-->
            </span>
		</li>
		<li><a asp-route="AdminArticle">Makale Yönetimi</a></li>
		<li>
			<span class="svg-icon svg-icon-primary">
				<!--begin::Svg Icon-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999) " />
					</g>
				</svg><!--end::Svg Icon-->
			</span>
		</li>
		<li>Makale Ekle</li>
	</ul>
</div>

<div class="wrapper">
	<div class="grid">
		<div class="col-9">
			<div class="card">
				<div class="card-body pd">

					<!--Makale listesi-->
					<div class="form-group">
						<input type="text" placeholder="Makale başlığı.." />
					</div>
					<div class="form-group">
						<textarea style="height:600px;"></textarea>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Slug (Permalink)" />
					</div>
					<!--Makale listesi-->

				</div>
			</div>
		</div>
		<div class="col-3">
			<!--Seçenekler-->
			<div class="card">
				<div class="card-body pd">
					<div class="grid">
						<div class="col-8">
							<select>
								<option>Yayınla</option>
								<option>Taslak olarak kaydet</option>
								<option>PDF Aktar</option>
							</select>
						</div>
						<div class="col-4 text-right">
							<button class="btn btn-blue">Makale Ekle</button>
						</div>
					</div>
				</div>
			</div>
			<!--Seçenekler-->
			<!--Kategori-->
			<div class="card">
				<div class="card-header">
					<h5>Kategori</h5>
				</div>
				<div class="card-body pd">
					<ul class="list">
						<li>
							<label>
								<input type="checkbox" value="" id="" />
								PHP ile Web Programlama
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" value="" id="" />
								ASP.NET MVC Core 7
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" value="" id="" />
								Veritabanı Yönetim Sistemleri
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" value="" id="" />
								Tasarım Desenleri (Design Patterns)
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" value="" id="" />
								React JS &amp; Node JS
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" value="" id="" />
								Javascript Teknikleri
							</label>
						</li>
					</ul>
				</div>
			</div>
			<!--Kategori-->
			<!--Etiket-->
			<div class="card">
				<div class="card-header">
					<h5>Etiket</h5>
				</div>
				<div class="card-body pd">
					<div class="grid">
						<div class="col-10">
							<input type="text" placeholder="Etiket ismi.." />
						</div>
						<div class="col-2 text-right">
							<button class="btn btn-blue">Ekle</button>
						</div>
					</div>
				</div>
			</div>
			<!--Etiket-->
			<!--Etiket-->
			<div class="card">
				<div class="card-header">
					<h5>Görsel</h5>
				</div>
				<div class="card-body pd">
					<a href="javascript:void(0)">Görsel Seç</a>
				</div>
			</div>
			<!--Etiket-->
			<!--Makale Açıklaması-->
			<div class="card">
				<div class="card-header">
					<h5>Kısa Açıklama</h5>
				</div>
				<div class="card-body pd">
					<textarea></textarea>
				</div>
			</div>
			<!--Makale Açıklaması-->
		</div>
	</div>
</div>