@model Blog.Application.Dto.DashboardDto.GeneralStaticticDto

<!--Card-->
<div class="col-3">
	<div class="card">
		<div class="card-body pd">
			<dv class="card-flex">
				<div>
					<span class="card-title">Kullanıcı</span>
					<h3>@Model.UserCount</h3>
					<p class="card-subtext">Sisteme ekli kullanıcı sayısı.</p>
				</div>
				<div class="card-icon">
					<i class="fa-duotone fa-users fa-fw"></i>
				</div>
			</dv>
		</div>
	</div>
</div>
<!--Card-->
<!--Card-->
<div class="col-3">
	<div class="card">
		<div class="card-body pd">
			<dv class="card-flex">
				<div>
					<span class="card-title">Makale</span>
					<h3>@Model.ArticleCount</h3>
					<p class="card-subtext">Yayında makale sayısı.</p>
				</div>
				<div class="card-icon">
					<i class="fa-duotone fa-feather fa-fw"></i>
				</div>
			</dv>
		</div>
	</div>
</div>
<!--Card-->
<!--Card-->
<div class="col-3">
	<div class="card">
		<div class="card-body pd">
			<dv class="card-flex">
				<div>
					<span class="card-title">Yorum</span>
					<h3>@Model.CommentCount</h3>
					<p class="card-subtext">Makale-yorum sayısı.</p>
				</div>
				<div class="card-icon">
					<i class="fa-duotone fa-comments fa-fw"></i>
				</div>
			</dv>
		</div>
	</div>
</div>
<!--Card-->
<!--Card-->
<div class="col-3">
	<div class="card">
		<div class="card-body pd">
			<dv class="card-flex">
				<div>
					<span class="card-title">Toplam İçerik</span>
					<h3>@Model.MediaCount</h3>
					<p class="card-subtext">Web sitesi toplam içerik.</p>
				</div>
				<div class="card-icon">
					<i class="fa-duotone fa-file-contract fa-fw"></i>
				</div>
			</dv>
		</div>
	</div>
</div>
<!--Card-->