.card {
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	border: 0 solid rgba(0,0,0,.125);
	background: var(--card-bg);
	box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
	margin-bottom: 1.5rem;

	.card-header {
		width: 100%;
		display: flex;
		padding: 10px;
		align-items: center;
		justify-content: space-between;
		border-radius: 0.25rem 0.25rem 0 0;
		border-bottom: 1px solid var(--card-border-color);

		&.pd-x {
			padding: 10px 10px 5px 10px !important;
		}

		h4 {
			font-size: 15px;
			font-weight: 500;
			color: var(--card-title-color);
		}

		h5 {
			font-size: 14px;
			font-weight: 400;
			color: var(--card-title-color);
		}

		.card-menu {
			width: 30px;

			a, i {
				color: var(--color-gray) !important;
			}
		}
	}

	.card-body {
		flex: 1 1 auto;

		&.pd {
			padding: 1rem 1rem !important;
		}

		.card-flex {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		.card-title {
			font-weight: 500;
			color: #878a99;
			font-size: 1em;
		}

		h3 {
			padding: 0;
			font-size: 1.889rem;
			font-weight: 500;
			margin: 16px 0 0 0;
			font-family: $font-barlow;
			color: #495057;
		}

		.card-subtext {
			display: block;
			font-size: 0.8rem;
			color: #878a99;
		}

		.card-icon {
			height: 3rem;
			width: 3rem;
			padding-top: 8px;
			border-radius: 50%;
			text-align: center;
			background-color: rgba(41,156,219,.18) !important;

			i {
				font-size: 25px;
				color: rgb(41,156,219);
				text-align: center;
				align-content: center;
			}
		}
	}
}
