.web-editor {
	display: block;

	.editor-menu {
		display: block;
		width: 100%;
		padding: 5px;
		border: 1px solid var(--card-border-color);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: var(--color-gray-100);

		.menu {
			display: table;
			width: 100%;

			&:after {
				clear: both;
			}

			li {
				float: left;

				&.right-set {
					float: right !important;
				}

				&.seperator {
					margin: 0 5px;
					width: 0;
					border-left: 1px solid var(--editor-seperator-border-color);
					height: 25px;
				}

				select {
					padding: 2px;
					border: 1px solid $color-gray-light !important;
				}

				a {
					display: inline-block;
					padding: 5px 5px 3px 5px;
					margin: 0 4px;
					border-radius: 3px;

					&:hover {
						background: var(--color-gray-300);
					}

					&.selected {
						background: var(--color-gray-300);
					}

					i {
						color: var(--editor-icon-color);
						font-size: 18px;
					}
				}
			}
		}
	}

	.editor-content {
		width: 100%;
		min-height: 650px;
		padding: 8px;
		border: 1px solid var(--card-border-color);
		border-top: none;
		border-bottom: none;
	}

	.editor-footer {
		display: block;
		background: var(--color-gray-100);
		padding: 8px;
		color: var(--color-gray-700);
		font-size: 0.85em;
		border: 1px solid var(--card-border-color);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
