//----------------------------------------------------
//		VARIABLES
//----------------------------------------------------
$color-red: #d95b44;
$color-green: #79b32f;
$color-green-light: #34c38f;
$color-blue: #319DB5;
$color-purple: #B57EE0;
$color-brown: #9E7B2E;
$color-orange: #ec8521;
$color-yellow: #F3D261;
$color-blue-drk: #0073aa;
$color-black: #3f4254;
$color-blue-light: #87adbd;
//$color-font: #495057;
$color-font: #000000;
$color-bg-hdr: #2b2e33;
$color-txt-muted: #B5B5C3;
$color-gray: #6c7293;
$color-gray-light: #B5B5C3;
$color-gray-lightl: #dee2e6;
$color-gray-lightx: #f0f0f0;
$color-gray-dark: #4e7379;
$color-white: #ffffff;
$color-lm-link: $color-gray;

$color-btn-default: #e0e6eb;
$color-btn-default-fcolor: #616c76;
$color-btn-default-hover: #d0dae1;
$color-btn-default-disable: #839baf;

$color-btn-blue: #00a2d9;
$color-btn-blue-hover: #008fc0;
$color-btn-blue-disable: #003040;

$color-btn-primary: #319db5;
$color-btn-primary-hover: #2c8ca1;
$color-btn-primary-disable: #10353d;

$color-btn-danger: #c75757;
$color-btn-danger-hover: #c14444;
$color-btn-danger-disable: #642121;

$color-btn-success: #18a689;
$color-btn-success-hover: #159077;
$color-btn-success-disable: #05201b;

$color-icon-success: #a5dc86;
$color-icon-warning: #f8bb86;
$color-icon-danger: #f27474;
$color-icon-info: #87adbd;

$font-poppins: 'Poppins';
$font-barlow: 'Barlow';